*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  }
body{
  background-color:#d8eefe;
  width: 100%;
  min-height: 100vh;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.main-div {
  background-color: #fffffe;
  width: 50vw;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column; 
  padding: 5rem 7rem;
  border-radius: 1rem;
}
h1{
    text-align: center;
    padding-bottom: 20px;
    min-width: 20vw;
}
.check-btn{
    background-color: #3da9fc;
    padding: 5px 10px;
    border-radius: 5px;
    border: none;
    margin-left: 20px;
    color: #fffffe;
}
.text-input{
    min-width: 20vw;
    padding: 5px 10px;
    background-color: #fffffe;
    border-radius: 5px;
}
.results {
  padding-top: 30px;
  width: 100%; 
  text-align: center; 
}